/* Header */
.header {
  height: 100vh;
  width: 100%;
  padding: 20px 60px;
  margin-bottom: 40px;
}

/* Nav */
.nav {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.nav__list {
  align-items: center;
  display: flex;
  gap: 10px;
}

.nav__logo {
  color: #17181a;
}

.nav__link {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

.nav__icon-container {
  align-items: center;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  display: flex;
  height: 30px;
  justify-content: center;
  padding: 10px;
  width: 30px;
}

.nav__icon {
  color: #6b7275;
  font-size: 10px;
}

/* Hero section */
.section-hero {
  padding-top: 60px;
}

.section-hero__info {
  display: flex;
  height: 270px;
  width: 100%;
}

.section-hero__heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 15px;
  justify-content: space-between;
}

.section-hero__title {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 42px;
  font-weight: 800;
}

.section-hero__description {
  color: #535354;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  width: 280px;
}

.section-hero__get-cards {
  align-items: center;
  display: flex;
  gap: 10px;
}

.section-hero__get-cards-text {
  color: #222223;
  font-family: "Roboto", sans-serif;
  font-size: 19px;
  font-weight: 500;
  transition-duration: 176ms;
}

.icon:hover ~ .section-hero__get-cards-text {
  transform: translateX(5px);
}

.section-hero__cards {
  display: flex;
  flex: 1;
}

.section-hero__cards-left {
  background: linear-gradient(106.01deg, #80d1ff 0%, #44b2f1 69.58%);
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  flex: 0.7;
}

.section-hero__visa {
  transform: rotate(-25deg);
  width: 270px;
}

.section-hero__cards-right {
  align-items: center;
  background: linear-gradient(201.5deg, #ffd968 4.52%, #fac422 102.63%);
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  display: flex;
  flex: 0.3;
  justify-content: center;
}

.section-hero__cards-right-icons {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  place-content: center;
  width: fit-content;
}

.section-hero__cards-right .icon {
  height: fit-content;
  width: fit-content;
}

.section-hero__plans {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  height: 180px;
}

.section-hero__plan {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 200px;
}

.section-hero__plan .section-hero__plan-icon {
  width: 24px;
}

.section-hero__plan-heading {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.01em;
}

.section-hero__plan:first-child .section-hero__plan-heading {
  font-family: "Bai Jamjuree", sans-serif;
  font-size: 26px;
  font-weight: 700;
}

.section-hero__plan:first-child .section-hero__plan-icon {
  width: 18px;
  margin-bottom: -5px;
}

.section-hero__plan .section-hero__plan-description {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.01em;
  color: #5f5f64;
}

@media screen and (max-width: 960px) {
  .header {
    padding: 20px;
  }

  .section-hero__heading {
    flex: 0.4;
    justify-content: space-evenly;
  }

  .section-hero__heading .section-hero__title {
    font-size: 36px;
  }

  .section-hero__heading .section-hero__description {
    font-size: 16px;
  }

  .section-hero__heading .section-hero__get-cards .icon {
    padding: 10px;
    font-size: 16px;
  }

  .section-hero__heading .section-hero__get-cards-text {
    font-size: 16px;
  }

  .section-hero__cards {
    flex: 0.65;
  }

  .section-hero__cards .section-hero__cards-left {
    flex: 0.6;
  }

  .section-hero__cards .section-hero__cards-left .section-hero__visa {
    width: 250px;
  }

  .section-hero__cards .section-hero__cards-right {
    flex: 0.35;
  }

  .section-hero__plans {
    gap: 15px;
  }

  .section-hero__plans .section-hero__plan-icon {
    width: 18px;
  }

  .section-hero__plans .section-hero__plan-heading {
    font-size: 16px;
  }

  .section-hero__plans .section-hero__plan-heading:first-child {
    font-size: 22px;
  }

  .section-hero__plans .section-hero__plan-description {
    font-size: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: fit-content;
  }

  .section-hero__info {
    flex-direction: column;
    align-items: center;
    margin-bottom: 300px;
    gap: 80px;
  }

  .section-hero__heading {
    flex: 1;
    width: 100%;
    max-width: 500px;
    align-items: center;
    text-align: center;
    justify-content: space-between;
  }

  .section-hero__heading .section-hero__title {
    font-size: 48px;
  }

  .section-hero__heading .section-hero__description {
    font-size: 18px;
  }

  .section-hero__heading .section-hero__get-cards-text {
    font-size: 18px;
  }

  .section-hero__cards {
    flex: 1;
    width: 100%;
    max-width: 500px;
    min-height: 200px;
  }

  .section-hero__cards .section-hero__cards-left .section-hero__visa {
    width: 230px;
  }

  .section-hero__plans {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
  }

  .section-hero__plans .section-hero__plan {
    margin: 0 auto;
  }
}

@media screen and (max-width: 420px) {
  .header {
    padding-bottom: 240px;
  }

  .nav__icon-container {
    display: none;
  }

  .section-hero__info {
    margin-bottom: 450px;
    gap: 50px;
  }

  .section-hero__cards .section-hero__cards-left .section-hero__visa {
    width: 190px;
  }

  .section-hero__get-cards {
    gap: 7px;
  }

  .section-hero__plans {
    grid-template-columns: 1fr;
    grid-gap: 30px;
  }

  .section-hero__plans .section-hero__plan {
    text-align: center;
    align-items: center;
    gap: 10px;
    max-width: 300px;
  }

  .section-hero__plan .section-hero__plan-icon {
    width: 24px;
  }

  .section-hero__plans .section-hero__plan-heading {
    font-size: 24px;
  }

  .section-hero__plans .section-hero__plan-heading:first-child {
    font-size: 28px;
  }

  .section-hero__plans .section-hero__plan-description {
    font-size: 20px;
  }
}
