<section class="section-testimonials">
  <div class="section-testimonials__info">
    <h4 class="section-testimonials__heading">1000+ Customer</h4>

    <p class="section-testimonials__description">
      Analyze any Business or Creator account—including your competitors—to find
      the imagery, visuals, and captions that drive audience engagement. Get
      social calendars planned faster and spend less time testing content
      strategies.
    </p>
  </div>

  <ul class="section-testimonials__testimonials">
    <li class="section-testimonials__testimonial-item">
      <h5 class="section-testimonials__testimonial-heading">PRODUCT</h5>
      <p class="section-testimonials__testimonial-description">10,0000+</p>
    </li>

    <li class="section-testimonials__testimonial-item">
      <h5 class="section-testimonials__testimonial-heading">LIKES</h5>
      <p class="section-testimonials__testimonial-description">45,600</p>
    </li>

    <li class="section-testimonials__testimonial-item">
      <h5 class="section-testimonials__testimonial-heading">SALE</h5>
      <p class="section-testimonials__testimonial-description">576,864</p>
    </li>

    <li class="section-testimonials__testimonial-item">
      <h5 class="section-testimonials__testimonial-heading">CUSTOMERS</h5>
      <p class="section-testimonials__testimonial-description">947,444</p>
    </li>
  </ul>
</section>
